<!-- <ly-grid container spacing="16 8@XSmall"
  ><ly-grid item col="12 12@XSmall">
    <p class="menu-title">
      Report Lead Time
    </p>
  </ly-grid>
</ly-grid>
<div class="container-comparison" style="margin-bottom: 20px;">
  <ly-grid container spacing="16 8@XSmall" class="border-content">
    <ly-grid item col="12"
      ><h3>Search</h3>
      <hr />
    </ly-grid>
    <ly-grid item col="12">
      <ly-field class="full-width">
        <input lyNativeControl placeholder="Project" /> </ly-field
    ></ly-grid>
    <ly-grid item col="12">
      <ly-field class="full-width">
        <input lyNativeControl placeholder="Area" /> </ly-field
    ></ly-grid>
    <ly-grid item col="12">
      <ly-field class="full-width">
        <input lyNativeControl placeholder="Supervisor" /> </ly-field
    ></ly-grid>
    <ly-grid item col="12">
      <ly-field class="full-width">
        <input lyNativeControl placeholder="Material" /> </ly-field
    ></ly-grid>
    <ly-grid
      item
      col="2 12@XSmall"
      style="top: 0;
    bottom: 0;
    margin: auto;"
      ><label>Status</label></ly-grid
    >
    <ly-grid item col="10 12@XSmall">
      <ly-radio-group color="primary">
        <ly-radio value="all">All</ly-radio>
        <ly-radio value="0">Complete</ly-radio>
        <ly-radio value="1">Incomplete</ly-radio>
      </ly-radio-group></ly-grid
    >
    <ly-grid item col="6 12@XSmall"
      ><mat-form-field class="full-width">
        <input
          matInput
          [matDatepicker]="startDate"
          placeholder="Start date"
          readonly
          (click)="startDate.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="startDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
    </ly-grid>
    <ly-grid item col="6 12@XSmall">
      <mat-form-field class="full-width">
        <input
          matInput
          [matDatepicker]="endDate"
          placeholder="End date"
          readonly
          (click)="endDate.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker> </mat-form-field
    ></ly-grid>
    <ly-grid item col="12"
      ><button
        ly-button
        raised
        bg="primary"
        style="float: right"
        class="full-width-button"
      >
        Download
      </button>
    </ly-grid>
  </ly-grid>
</div>
 -->