<div class="container-comparison" style="margin-bottom: 20px;">
  <div class="border-content">
    <h2>Change Password</h2>
    <hr />
    <form (ngSubmit)="changePassword()" ngNativeValidate>
      <ly-field class="full-width">
        <input
          lyNativeControl
          placeholder="New Password"
          name="password"
          required
          maxlength="25"
          [(ngModel)]="newPassword"
          type="password"
          minlength="8"
        />
      </ly-field>
      <ly-field class="full-width">
        <input
          lyNativeControl
          placeholder="Confirm Password"
          name="confirmPassword"
          required
          minlength="8"
          maxlength="25"
          [(ngModel)]="confirmPassword"
          type="password"
        />
      </ly-field>
      <ly-grid container spacing="16 8@XSmall">
        <ly-grid item col="12 12@XSmall">
          <button
            ly-button
            raised
            bg="primary"
            style="float: right"
            class="full-width-button"
            type="submit"
          >
            Save
          </button>
        </ly-grid>
      </ly-grid>
    </form>
  </div>
</div>
