<h1>List Project - {{ zone.zone_name }}</h1>
<hr />
<app-add-zone-project></app-add-zone-project>
<br />
<div class="clr-row clr-justify-content-end">
  <button type="button" class="btn btn-icon" (click)="getZoneProject()">
    <clr-icon shape="refresh"></clr-icon>
  </button>
</div>

<!-- List User Job -->
<clr-datagrid style="margin-bottom: 25px;">
  <clr-dg-column>No.</clr-dg-column>
  <clr-dg-column [clrDgField]="'plant_code'" clrDgSortOrder="ascSort"
    >Plant Code</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'project_name'" clrDgSortOrder="ascSort"
    >Project Name</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'zone_name'" clrDgSortOrder="ascSort"
    >Zone Name</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'is_active'" clrDgSortOrder="ascSort"
    >Status</clr-dg-column
  >
  <clr-dg-column>Action</clr-dg-column>

  <clr-dg-row *clrDgItems="let data of listZoneProject; index as i">
    <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
    <clr-dg-cell>{{ data.plant_code }}</clr-dg-cell>
    <clr-dg-cell>{{ data.project_name }}</clr-dg-cell>
    <clr-dg-cell>{{ data.zone_name }}</clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="data.is_active == 1">Active</span>
      <span *ngIf="data.is_active == 0">Non-Active</span>
    </clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-icon">
        <button
          *ngIf="data.is_active == 1"
          class="btn btn-primary"
          (click)="activeDeactiveZoneProject(data)"
        >
          <clr-icon shape="times-circle"></clr-icon>
        </button>
        <button
          *ngIf="data.is_active == 0"
          class="btn btn-success"
          (click)="activeDeactiveZoneProject(data)"
        >
          <clr-icon shape="check"></clr-icon>
        </button>
        <button class="btn btn-danger" (click)="deleteZoneProject(data)">
          <clr-icon shape="trash"></clr-icon>
        </button>
        <button class="btn" (click)="showUserProjectZone(data)">
          <clr-icon shape="users"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Data per page</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} data
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
<!-- End List User Job -->
