<ly-grid container spacing="16 8@XSmall"
  ><ly-grid item col="12 12@XSmall">
    <p class="menu-title">
      Upload Material
    </p>
  </ly-grid>
</ly-grid>
<div class="container-comparison" style="margin-bottom: 20px;">
  <ly-grid container spacing="16 8@XSmall">
    <ly-grid
      item
      col="3 12@XSmall"
      style="top: 0;
    bottom: 0;
    margin: auto;"
    >
      <input type="file" />
    </ly-grid>

    <ly-grid
      item
      col="3 12@XSmall"
      style="top: 0;
    bottom: 0;
    margin: auto;"
    >
      <button ly-button raised bg="primary" class="full-width-button">
        Upload
      </button></ly-grid
    >
  </ly-grid>
</div>
