<h1>List User - {{ lsUserArea.area_name }}</h1>
<hr />
<app-add-user-area></app-add-user-area>
<div class="clr-row clr-justify-content-end">
  <button
    type="button"
    class="btn btn-icon"
    (click)="getUserInProjectZoneAndArea()"
  >
    <clr-icon shape="refresh"></clr-icon>
  </button>
</div>

<!-- List User Area -->
<clr-datagrid style="margin-bottom: 25px;">
  <clr-dg-column>No.</clr-dg-column>
  <clr-dg-column [clrDgField]="'username'" clrDgSortOrder="ascSort"
    >Username</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'full_name'" clrDgSortOrder="ascSort"
    >Full Name</clr-dg-column
  >
  <clr-dg-column [clrDgField]="'is_active'" clrDgSortOrder="ascSort"
    >Status</clr-dg-column
  >
  <clr-dg-column>Action</clr-dg-column>

  <clr-dg-row *clrDgItems="let data of listUserArea; index as i">
    <clr-dg-cell>{{ i + 1 }}</clr-dg-cell>
    <clr-dg-cell>{{ data.username }}</clr-dg-cell>
    <clr-dg-cell>{{ data.full_name }}</clr-dg-cell>
    <clr-dg-cell>
      <span *ngIf="data.is_active == 1">Active</span>
      <span *ngIf="data.is_active == 0">Non-Active</span>
    </clr-dg-cell>
    <clr-dg-cell>
      <div class="btn-group btn-icon">
        <button
          *ngIf="data.is_active == 1"
          class="btn btn-primary"
          (click)="activeDeactiveUserArea(data)"
        >
          <clr-icon shape="times-circle"></clr-icon>
        </button>
        <button
          *ngIf="data.is_active == 0"
          class="btn btn-success"
          (click)="activeDeactiveUserArea(data)"
        >
          <clr-icon shape="check"></clr-icon>
        </button>
        <button class="btn btn-danger" (click)="deleteUserArea(data)">
          <clr-icon shape="trash"></clr-icon>
        </button>
      </div>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Data per page</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} data
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
<!-- End List User Area -->
