<div class="login">
  <div class="login-container">
    <ly-grid container spacing="16 8@XSmall" style="text-align: center">
      <ly-grid item col="6 12@XSmall">
        <div>
          <img
            class="logo"
            src="assets/images/logo-white.png"
            alt="Acset Logo"
          />
        </div>
      </ly-grid>
      <ly-grid item col="6 12@XSmall">
        <div>
          <span style="font-style:italic;color:rgb(85, 85, 85);"
            >E-Logistic</span
          >
        </div>
      </ly-grid>
    </ly-grid>
    <form (ngSubmit)="resetPassword()" ngNativeValidate>
      <ly-field style="width: 100%;">
        <ly-label>E-mail</ly-label>
        <input
          autofocus
          name="email"
          [(ngModel)]="data.email"
          type="email"
          lyNativeControl
          required
        />
      </ly-field>
      <button
        type="submit"
        ly-button
        raised
        bg="primary"
        style="width: 100%; margin-top:10px;border-radius: 20px;"
      >
        Reset Password
      </button>
      <a href="javascript://" routerLink="../login"
        ><p align="center">Back to login</p></a
      >
    </form>
  </div>
</div>
